<template>

  <div>

    
      <div class="block block-strong inset block-mint">
        Note: This screen requires local search indexes and will take longer to load the first time you visit.
      </div>


    ${mintingViewModel ? $h`
      <div class="block-title block-title-medium">Mint NFTs</div>
      
      <div class="block block-strong inset">
        <p>
          <strong>Total Minted:</strong> ${mintingViewModel.totalMinted} of ${mintingViewModel.totalSupply}
        </p>
      </div>

      <form class="list no-hairlines inset" @submit="${mintSubmit}">
        <ul>
          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Select number of NFTs to mint.</div>
              <div class="item-input-wrap">
                <div class="range-slider range-slider-init" data-label="true" data-scale="true" data-scale-steps="5" >
                  <input type="range" value="1" min="0" max="10" step="1" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title mint-detail">
                      <p>
                        <strong>Mint Fee:</strong> ${mintingViewModel.mintPrice} ETH
                      </p>
                      <p>
                        <strong>Quantity:</strong> ${quantity} 
                      </p>
                      <p>
                        <strong>Total:</strong> ${total} ETH
                      </p>
                    </div>
                </div>
            </div>
          </li>

          <li>
            <label class="item-checkbox item-content">

                <input type="checkbox" checked="${exactTokensOnly}"  @change="${forceStartOnChange}" />
                
                <i class="icon icon-checkbox"></i>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Exact Tokens Only</div>
                    </div>
                    <div class="item-text exact-tokens-only">
                        <p>If this box is checked the transaction will immediately fail if another transaction mints *any* of the selected tokens.</p>

                    </div>
                </div>
            </label>
          </li>


          <li>
            <div class="item-content">
                <div class="item-inner">
                  <button class="button button-fill ${quantity < 1 ? 'disabled': ''}" id="mint-button" @click="${mintButtonClick}">Mint</button>
                </div>
            </div>
          </li>
        </ul>

      </form>

    ` : $h`
      <li class="card skeleton-text skeleton-effect-wave">
        <div class="card-header">Loading Loading Loading</div>
        <div class="card-content card-content-padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac
            interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis.
            Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi
            aliquet urna, nec imperdiet felis sapien at enim.</div>
      </li>
    `}
    
    
    ${mintingViewModel ? $h`
      <div class="block-title block-title-medium">Next Up</div>

      <div class="row">

        ${mintingViewModel.items?.map( (itemViewModel) => $h`
          
          <div class="col-100 large-25">
            <div class="card mint-card">
              <div class="card-content">
                <div class="card-content card-content-padding">
  
                  <div class="square">
  
                    ${itemViewModel.item.coverImageId ? $h`
                      <a href="${link(`item-show-${itemViewModel.item._id}.html`)}">
                        <img src="${link(`backup/images/${itemViewModel.coverImage._id}`)}.${itemViewModel.coverImage.generated ? 'svg' : 'jpg'}" />
                      </a>
                    ` : $h`
                      No preview
                    `}
  
                  </div>
  
                  <div class="preview-info">
                    <a href="${link(`item-show-${itemViewModel.item._id}.html`)}">${itemViewModel.item.title ? itemViewModel.item.title + ' ' : ''} #${itemViewModel.item.tokenId}</a>
                    
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        
        `)}
      </div>
    ` : $h`<span/>`}

  </div>



</template>


<style>

  #mint-button {
    width: 100px;
    display: inline-block;
  }

  .mint-detail strong {
    width: 100px;
    display: inline-block;
  }

  .block-mint {
    font-size: 14px;
  }

  .exact-tokens-only {
    font-size: 15px;
  }

</style>

<script>

  export default (props, { $, $on, $f7, $update }) => {

    let mintingWebService = globalThis.container.get("MintWebService")

    let mintingViewModel = undefined
    let quantity = 1
    let total = 0
    let mintPriceWei

    let exactTokensOnly = false

    let baseURL = props.baseurl 

    const link = (href) => {
        return `${baseURL + href}`
    } 
  
    const mintSubmit = (e) => {
      e.preventDefault()
    }

    const updateTotal = async () => {
      total = globalThis.ethers.utils.formatUnits(mintPriceWei.mul(quantity))
      await $update()
    }

    const selectPreviews = (amount) => {

      let selected = 0
      $('.mint-card').each( (ele) => {
        
        //Remove selected from all
        $(ele).removeClass('selected')

        if (selected < amount ) {
          $(ele).addClass('selected')
          selected++
          console.log(ele)
        }
      

      })

    }

    const mintButtonClick = async (e) => {

      if (exactTokensOnly) {

        let start = parseInt(mintingViewModel.totalMinted + 1)

        console.log(start)

        await mintingWebService.mintFromStartOrFail(quantity, start)
      } else {
        await mintingWebService.mint(quantity)

      }

      
    }

    const forceStartOnChange = async (e) => {
      exactTokensOnly = e.currentTarget.checked
     
      await $update()
    }

    $on('range:change', async (e) => {
      quantity = parseInt(e.detail)
      await updateTotal()
      selectPreviews(quantity)
    })


    $f7.preloader.show()

    mintingWebService.getMintingViewModel().then (m => {
      
      mintingViewModel = m 

      mintPriceWei = globalThis.ethers.utils.parseUnits(mintingViewModel.mintPrice, 'ether')

      return updateTotal()

    } ).then( () => {

      selectPreviews(quantity)

      $f7.preloader.hide()

    })



    return $render
  }

</script>