<template>

  <div class="page" data-name="admin-show-post">

    <!-- <${Navbar} title="${itemViewModel.channel.title}" /> -->

    <div class="page-content">

      <div class="row">
        <div class="col-100 large-66 center margin-top">

          <ul class="breadcrumb">
            <li><a href="/">${itemViewModel.channel.title}</a></li>
            <li>${itemViewModel.item.title} #${itemViewModel.item.tokenId}</li>
          </ul>

          <div class="card item-card-show">

            <div class="card-header">
              <span>${itemViewModel.item.title} <span class="item-show-token-id">#${itemViewModel.item.tokenId}</span></span>
            </div>

            <div class="card-content card-content-padding">
              <div class="content" innerHTML="${itemViewModel.contentHTML}"
                id="item-content-${itemViewModel.item._id}">
              </div>
            </div>

          </div>

          <div class="card">
            <div class="card-header">
              <label>Attributes</label>
            </div>
            <div class="card-content card-content-padding">

              <div class="attribute-row"> 
                <strong>Token ID:</strong> #${itemViewModel.item.tokenId}
              </div>

              ${itemViewModel.attributeSelections?.map(as => $h`
                <div class="attribute-row">
                  <strong>${as.traitType}:</strong> ${as.value}
                </div>
              `)}
            </div>
          </div>

          <div class="block row center margin-bottom">

            ${itemViewModel.item.previous ? $h`
              <div class="col-50 previous">
                <a class="button button-outline" href="/item/show/${itemViewModel.item.previous._id}">
                  <i class="f7-icons">arrow_left</i>
                  ${itemViewModel.item.previous.tokenId}
                </a>
              </div>
            ` : $h``}

            ${itemViewModel.item.next ? $h`
              <div class="col-50 next">
                <a class="button button-outline" href="/item/show/${itemViewModel.item.next._id}">
                  ${itemViewModel.item.next.tokenId}
                  <i class="f7-icons">arrow_right</i>
                </a>
              </div>
              ` : $h``}

          </div>


        </div>
      </div>

    </div>

  </div>

</template>


<style>


  .previous {
    text-align: right;
  }

  .next {
    text-align: left;
  }


  @media only screen and (max-width: 1024px) {
    .previous {
      text-align: center;
    }

    .next {
      text-align: center;
    }
  }


  .content {
    width: 100%;
  }

  .content:after{
    clear: both;
    content: "";
    display: block;
  }

  .content img {
    max-width: 100%;
  }


  .menu-dropdown-link.menu-close {
    color: #ffffff;
  }

  .item-show-token-id {
    color: rgb(79, 79, 79);
    font-weight: bold;
  }


</style>

<script>

  import { ContainerService } from "../../../service/core/container-service"

  import Navbar from "../../reader/navbar.f7.html"

  import excerptHtml from 'excerpt-html'


  export default (props, { $, $on, $f7, $update }) => {

    let itemViewModel = props.itemViewModel


    $on('pageInit', async (e, page) => {
      
      var baseurl = window.location.origin + window.location.pathname

      

      //Add external to any links in the doc
      $(`#item-content-${itemViewModel.item._id} a`).addClass('external')

      // document.querySelector('meta[property="og:title"]').setAttribute("content", itemViewModel.item.title);
      // document.querySelector('meta[property="og:url"]').setAttribute("content", `${baseurl}#!/item/show/${itemViewModel.item._id}`);
      // document.querySelector('meta[property="og:image"]').setAttribute("content", itemViewModel.coverImage ? `${baseurl}backup/images/${itemViewModel.coverImage}` : '');
      // document.querySelector('meta[property="og:description"]').setAttribute("content", excerptHtml(itemViewModel.item.contentHTML, { pruneLength: 500 }));

      // document.querySelector('meta[property="twitter:url"]').setAttribute("content", `${baseurl}#!/item/show/${itemViewModel.item._id}`);
      // document.querySelector('meta[property="twitter:title"]').setAttribute("content", itemViewModel.item.title);
      // document.querySelector('meta[property="twitter:image"]').setAttribute("content", itemViewModel.coverImage ? `${baseurl}backup/images/${itemViewModel.coverImage}` : '');
      // document.querySelector('meta[property="twitter:description"]').setAttribute("content", excerptHtml(itemViewModel.item.contentHTML, { pruneLength: 500 }));


      await $update()

    })

    return $render
  }

</script>