<template>

  <div class="page" data-name="404">

    <div class="page-content">

      <div class="row">

        <div class="col-100 large-66 center">

          <div class="card">
            <div class="card-content card-content-padding">
              Page not found
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</template>


<style>
  

</style>


<script>

  export default (props, { $, $on, $f7, $update }) => {

    $f7.preloader.hide()

    return $render
  }

</script>