<template>

    <div class="right">

        ${walletAddress != undefined ? $h`
          <a class="button button-fill">${truncateEthAddress(walletAddress)}</a>
        ` : $h`
          <button class="button button-outline button-fill" @click=${connectWallet}>Connect Wallet</button>
        `}

    </div>

</template>
 
<style>
</style>


<script>
  
    export default (props, { $on, $f7, $update }) => {

        let walletService = globalThis.container.get("WalletService")
        let uiService = globalThis.container.get("UiService")

        let walletAddress = walletService.wallet?.address
        let walletAbbrev


        // Captures 0x + 4 characters, then the last 4 characters.
        const truncateRegex = /^(0x[a-zA-Z0-9]{4})[a-zA-Z0-9]+([a-zA-Z0-9]{4})$/

        const truncateEthAddress = (address) => {
            const match = address.match(truncateRegex)
            if (!match) return address
            return `${match[1]}…${match[2]}`
        }

        const displayAddress = async (e) => {

            walletAddress = undefined

            if (!walletService.wallet && walletService.provider) {
                await walletService.connect()
            }


            if (walletService.wallet) {

                walletAddress = await walletService.getAddress()

                if (walletAddress) {
                    walletAbbrev = walletAddress.slice(walletAddress.length - 10)
                }

            }

            $update()
        }

        const connectWallet = async (e) => {
            //Connect to metamask
            await walletService.connect()
            displayAddress()
        }

        displayAddress()

        return $render
    }
</script>
