<template>

    <div class="right">

        <!-- Link to enable searchbar -->
        <a class="link icon-only searchbar-enable" href="${baseURI}search.html">
            <i class="f7-icons">search</i>
        </a>

        ${walletAddress != undefined ? $h`
          <a class="button button-fill">${truncateEthAddress(walletAddress)}</a>
        ` : $h`
          <button class="button button-outline button-fill" @click=${connectWallet}>Connect Wallet</button>
        `}

    </div>

</template>
 
<style>
</style>


<script>
  
    export default (props, { $on, $f7, $update }) => {

        let walletService = globalThis.container.get("WalletService")
        let uiService = globalThis.container.get("UiService")
        let baseURI = globalThis.container.get("baseURI")

        let walletAddress = walletService.wallet?.address
        

        const truncateEthAddress = (address) => {
            return walletService.truncateEthAddress(address)
        }

        const displayAddress = async (e) => {

            walletAddress = undefined

            if (!walletService.wallet && walletService.provider) {
                await walletService.connect()
            }


            if (walletService.wallet) {
                walletAddress = await walletService.getAddress()
            }

            $update()
        }

        const connectWallet = async (e) => {
            //Connect to metamask
            await walletService.connect()
            displayAddress()
        }

        displayAddress()

        return $render
    }
</script>
