<template>

    <div class="navbar">
        <div class="navbar-bg"></div>

        <div class="navbar-inner sliding">
        
          <div class="left">
            <a href="/" class="logo">${title}</a>
          </div>
        
          <div class="title"></div>

          <${HeaderRight} />

        </div>
      </div>

</template>
 
<style>

 .logo {
   font-size: 35px;
   font-weight: 700;
   margin-right: 10px;
 }


</style>


<script>

    import HeaderRight from "./header-right.f7.html"

    export default (props, { $on, $f7, $update }) => {
    
        let title = props.title

        return $render
    }
</script>
