<template>

    <div class="navbar">
        <div class="navbar-bg"></div>

        <div class="navbar-inner sliding">
        
          <div class="left">
            <a href="${baseURI}index.html" class="logo">
              ${logo ? $h`
                <img src="${logo}" />
              ` : $h`
                <i class="f7-icons">house</i>
              `}
              
              
            </a>
          </div>
        
          <div class="title"></div>
          
          <${HeaderRight} />
          
        </div>
      </div>

</template>
 
<style>

.logo {
   font-size: 35px;
   font-weight: bold;
   margin: 10px;
 }

 .logo img {
  margin-top: 10px;
  height: 50px;
  border-radius: 25%;
 }

</style>


<script>

    import HeaderRight from "./header-right.f7.html"

    export default (props, { $on, $f7, $update }) => {
    
        let baseURI = globalThis.container.get("baseURI")

        let logo = props.logo

        return $render
    }
</script>
