:root {
  --f7-font-size: 19px;
  --f7-list-font-size: 19px

}

html {
  overscroll-behavior-y: contain;
}

a {
  font-weight: bold;
}

.home {
  font-size: 35px;
  font-weight: bold;
  margin: 10px;
}

.page-content {
  background-color: rgb(238, 240, 243);
}

.center {
  margin: 0 auto;
}

.author-header {
  width: 100%;
  font-size: 14px;
}

.author-header .name {
  margin-bottom: 3px;
}

.author-avatar {
  margin-top: -4px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  float: left;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 3px;
}

.author-avatar img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.author .avatar i {
  float: left;
}





/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  font-weight: bold;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}




.card-header label {
  padding-bottom: 3px;
  margin-left: 5px;
  float: left;
  font-weight: bold;
}

.card-header .material-icons {
  float: left;
}




.channel-card-show .card-header {
  display: block;
  padding: 10px;
}


.channel-card-show .title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.channel-card-show .name,
.channel-card-show .contract-address {
  text-align: center;
}

.channel-card-show .name a {
  color: var(--f7-theme-color);
  font-weight: bold;
}

.channel-card-show .date {
  font-size: 13px;
  color: #8e8e93;
}


.channel-card-show .excerpt {
  font-size: 17px;
}


.channel-card-show .card-content img {
  display: block;
  max-width: 100%;
}

.channel-card-show .banner {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #f1f1f1;
}

.channel-card-show .avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: calc(50% - 50px);
  bottom: 0;
  margin-bottom: -50px;
  z-index: 10000;
  border: 3px solid #ffffff;
  font-size: 100px;
  background: #ffffff;
}

.channel-card-show a {
  color: var(--f7-text-color);
}

.channel-card-show .description {
  font-size: 17px;
  text-align: center;
  width: 750px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.item-card img {
  max-width: 100%;
}



.item-preview {
  width: 100%;
  display: flex;
}

.item-preview p {
  margin-top: 5px;
}

.item-card .title {
  color: #000000;
  font-size: 23px;
  font-weight: 700;
}

.item-preview .right {
  flex: 0 0 150px;
  /* do not grow, do not shrink, start at 250px */
}

.item-preview .right img {
  max-width: 100%;
}

.item-preview .left {
  flex: 1;
  /* grow */
}

.menu-dropdown-link.menu-close {
  color: #ffffff;
}

.channel-show-token-id {
  color: rgb(79, 79, 79);
}

.goto-button {
display: inline-block;
margin-left: 10px;
width: 50px;
}

.paging-label {
font-size: 15px;
font-weight: bold;
margin-left: 10px;
}







.previous {
  text-align: right;
}

.next {
  text-align: left;
}


@media only screen and (max-width: 1024px) {
  .previous {
    text-align: center;
  }

  .next {
    text-align: center;
  }
}


.content {
  width: 100%;
}

.content:after{
  clear: both;
  content: "";
  display: block;
}

.content img {
  max-width: 100%;
}


.menu-dropdown-link.menu-close {
  color: #ffffff;
}

.item-show-token-id {
  color: rgb(79, 79, 79);
  font-weight: bold;
}


.f7-component {
  display: none;
}
































html {
  visibility: visible;
  opacity: 1;
}